
bin/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.dll
bin/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.pdb
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.dll
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.pdb
obj/Release/netcoreapp3.1/PubTmp/Out/System.Composition.Hosting.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Composition.Runtime.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Composition.TypedParts.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Configuration.ConfigurationManager.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Diagnostics.DiagnosticSource.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Diagnostics.PerformanceCounter.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Drawing.Common.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.IdentityModel.Tokens.Jwt.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.IO.Pipelines.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Linq.Dynamic.Core.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Runtime.Caching.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Runtime.CompilerServices.Unsafe.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Security.AccessControl.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Security.Cryptography.ProtectedData.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Security.Permissions.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Security.Principal.Windows.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Text.Encodings.Web.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Text.Json.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Threading.Channels.dll
obj/Release/netcoreapp3.1/PubTmp/Out/System.Windows.Extensions.dll
obj/Release/netcoreapp3.1/PubTmp/Out/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/tr/Microsoft.CodeAnalysis.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/web.config
obj/Release/netcoreapp3.1/PubTmp/Out/YamlDotNet.dll
obj/Release/netcoreapp3.1/PubTmp/Out/Z.EntityFramework.Extensions.EFCore.dll
obj/Release/netcoreapp3.1/PubTmp/Out/Z.EntityFramework.Plus.EFCore.dll
obj/Release/netcoreapp3.1/PubTmp/Out/Z.Expressions.Eval.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hans/Microsoft.CodeAnalysis.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hant/Microsoft.CodeAnalysis.resources.dll
obj/Release/netcoreapp3.1/PubTmp/Out/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/Release/netcoreapp3.1/staticwebassets/Premier.API.FileUploadDownload.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.1/staticwebassets/Premier.API.FileUploadDownload.StaticWebAssets.xml
obj/Release/netcoreapp3.1/win-x64/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/win-x64/apphost.exe
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.AssemblyInfo.cs
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.assets.cache
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.csproj.CopyComplete
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.deps.json
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.dll
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.genruntimeconfig.cache
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.MvcApplicationPartsAssemblyInfo.cache
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.MvcApplicationPartsAssemblyInfo.cs
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.pdb
obj/Release/netcoreapp3.1/win-x64/Premier.API.FileUploadDownload.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp3.1/win-x64/PublishOutputs.81226a4516.txt
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/appsettings.Development.json
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/appsettings.json
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/appsettings.logs.json
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Microsoft.Data.SqlClient.SNI.pdb
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Premier.API.FileUploadDownload.exe
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Premier.API.FileUploadDownload.pdb
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/Premier.CommonData.ERPNA.pdb
obj/Release/netcoreapp3.1/win-x64/PubTmp/Out/web.config
obj/Release/netcoreapp3.1/win-x64/staticwebassets/Premier.API.FileUploadDownload.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.1/win-x64/staticwebassets/Premier.API.FileUploadDownload.StaticWebAssets.xml
obj/Release/netcoreapp3.1/win-x86/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Release/netcoreapp3.1/win-x86/apphost.exe
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.AssemblyInfo.cs
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.assets.cache
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.csproj.CopyComplete
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.deps.json
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.dll
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.genruntimeconfig.cache
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.MvcApplicationPartsAssemblyInfo.cache
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.MvcApplicationPartsAssemblyInfo.cs
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.pdb
obj/Release/netcoreapp3.1/win-x86/Premier.API.FileUploadDownload.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp3.1/win-x86/PublishOutputs.e460e01088.txt
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/appsettings.Development.json
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/appsettings.json
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/appsettings.logs.json
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/Microsoft.Data.SqlClient.SNI.pdb
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/Premier.API.FileUploadDownload.exe
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/Premier.API.FileUploadDownload.pdb
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/Premier.CommonData.ERPNA.pdb
obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/web.config
obj/Release/netcoreapp3.1/win-x86/staticwebassets/Premier.API.FileUploadDownload.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.1/win-x86/staticwebassets/Premier.API.FileUploadDownload.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.dll
bin/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.pdb
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.dll
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.pdb
*.dll
bin/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.dll
bin/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.pdb
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.dll
obj/Debug/netcoreapp3.1/Premier.API.FileUploadDownload.pdb
